/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: hsl(220, 15%, 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
  }

  .card {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 50vw;
  }

  .image-qr-code {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  h1 {
    color: #333;
    font-size: 18px;
  }

  p {
    color: #666;
    font-size: 15px;
  }
